body {
    background: #F5F5F5;
}

h1, h2, h3 {
    color: #ff5e00
}

footer {
    color: #D90429
}

.link,
.nav-bar-button {
    color: #A30000
}

.main-header {
    color: #2B2D42;
}

.sub-header {
    color: #8D99AE
}

.text {
    color: #27293C
}

.diary-date {
    color: #ef233c
}

.nav-bar {
    display: block;
    background: lightgray;
    max-width: 100%;
    height: 30px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav-bar-button {
    display: inline-block;
    padding: 2px 7px 1px 7px;
    margin: 0 5px;
    background: rgb(187, 185, 185);
    border-radius: 5px;
}